@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Tasks App</h1>

    <h2> I'm Marwa, an ASP.NET developer</h2>
    <p>
       
        Check out my work on GitHub: <a href="https://github.com/MarwahAlahdab/">GitHub Profile</a>.
       
    </p>
    <p> Feel free to explore my projects ^^</p>
</div>
