@model MyTask

<h1>Delete Task</h1>

<p>Are you sure you want to delete the task?</p>

<form asp-action="Delete" asp-controller="MyTask" method="post">
    <input type="hidden" asp-for="Id" /> 
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" asp-controller="Task" class="btn btn-secondary">Cancel</a>
</form>
